header {
    display: flex;
    gap: .5em;
    margin: .5em;

    .flex-container {
        align-items: center;
        display: flex;
        padding: .25em;
        width: 100%;

        &.search-container {

            .search-bar {
                align-items: center;
                background: white;
                border-radius: 2em;
                display: flex;
                gap: .5em;
                padding: .5em .75em;
                width: 25em;
            }
        }

        &.account-container {
            justify-content: end;
        }
    }
}

main {
    display: flex;
    gap: .5em;
    margin: .5em;

    nav {
        background: white;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: .5em;
        width: 10em;

        p {
            align-items: center;
            border-radius: .5em;
            cursor: pointer;
            display: flex;
            gap: .5em;
            padding: .5em;

            &:hover {
                background: hsl(0, 0%, 94%);
            }

            &:active {
                background: hsl(0, 0, 88%);
            }
        }
    }

    article {
        background: white;
        border-radius: .5em;
        padding: .5em;
    }
}