<header>
    <h1>gamescape</h1>

    <div id="search-container"></div>

    <div id="account-container">
        <span class="material-symbols-rounded" id="account-icon">account_circle</span>
    </div>
</header>

<nav>
    @for (tab of tabs; track $index) {
    <div class="tab-container" routerLinkActive="active" [routerLink]="tab.route">
        <span class="material-symbols-rounded">{{ tab.iconName }}</span>
        <span>{{ tab.title }}</span>
    </div>
    }
</nav>

<main>
    <router-outlet />
</main>