$spacing: 8px;

:host {
    display: grid;
    gap: $spacing;
    grid-template-columns: 240px auto;
    grid-template-rows: 48px auto;
    height: calc(100% - 2 * $spacing);
    padding: $spacing;

    header {
        align-items: center;
        display: grid;
        grid-column: span 2;
        grid-template-columns: 25% auto 25%;

        #account-container {
            text-align: right;

            #account-icon {
                border-radius: 24px;
                cursor: pointer;
                font-size: 32px;
                padding: $spacing;

                &:hover {
                    background: hsl(0, 0, 82%);
                }

                &:active {
                    background: hsl(0, 0, 76%);
                }
            }
        }
    }

    nav,
    main {
        background: white;
        border-radius: $spacing;
        padding: $spacing;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: $spacing;

        .tab-container {
            align-items: center;
            border-radius: $spacing / 2;
            cursor: pointer;
            display: flex;
            gap: $spacing;
            padding: $spacing;

            &:hover {
                background: hsl(0, 0%, 94%);
            }

            &:active {
                background: hsl(0, 0%, 88%);
            }
        }
    }
}