<header>
    <div class="flex-container title-container">
        <h1>gamescape</h1>
    </div>

    <div class="flex-container search-container">
        <div class="search-bar">
            <span class="material-symbols-rounded">search</span>
            <span>Search...</span>
        </div>
    </div>

    <div class="flex-container account-container">
        <span class="material-symbols-rounded">account_circle</span>
    </div>
</header>

<main>
    <nav>
        <p routerLink="">
            <span class="material-symbols-rounded">home</span>
            <span>Dashboard</span>
        </p>

        <p routerLink="">
            <span class="material-symbols-rounded">casino</span>
            <span>Games</span>
        </p>

        <p routerLink="">
            <span class="material-symbols-rounded">category</span>
            <span>Categories</span>
        </p>

        <p routerLink="/materials">
            <span class="material-symbols-rounded">checklist</span>
            <span>Materials</span>
        </p>
    </nav>

    <article>
        <router-outlet />
    </article>
</main>