@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100%;
}

body {
    background: hsl(0, 0%, 88%);
    font-family: 'Roboto';
}

body,
h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
    margin: 0;
}